/* {{{ MAIN COLORS */

* {
   -fx-base1:   #395D8E;
   -fx-base2:   #87A2C7;
   -fx-base3:   #5777A4;
   -fx-base4:   #23487C;
   -fx-base5:   #123462;
   -fx-base6:   #E0E4E8;
   -fx-base6-n: black;
   -fx-base7:   #CBD4DD;
   -fx-base7-n: black;

   /* borders */
   -fx-base8:   #989898;
   -fx-base9:   #656565;
}

/* }}} */

/* {{{ MAIN ELEMENTS */

.background{
    -fx-background-color: white;
}

.root{
    -fx-accent: -fx-base1;
    -fx-focus-color: -fx-base1;
    -fx-base: white;
    /* default font size */
    -fx-font-size:14px;
}

.text{
    -fx-font-family: "Arial";
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 0,0,0,1 );
}

.searchResultDivider, .messageDialogDivider, .loadingScreenDivider, .settingsManagerDivider {
  -fx-stroke: -fx-base1;
}

/* }}} */

/* {{{ DEFAULT BUTTON */

.button {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-base6-n;

    -fx-padding: 2 15 2 15;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-cursor: hand;

    -fx-border-width: 2;
    -fx-border-color: -fx-base8;

    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-color: white;
    -fx-background-radius: 0px;
}

.button:default
{
    -fx-border-color: -fx-base5;
    -fx-border-width: 2;

    -fx-background-radius: 0;
    -fx-background-color: white;
}

.button:hover, .button:default:hover{
    -fx-border-color: -fx-base9;
    -fx-background-color: -fx-base6;
}

.button:pressed, .button:default:hover:pressed
{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: -fx-base6;
    -fx-text-fill: -fx-base6-n;
}

/* }}} */

/* {{{ TOGGLE-BUTTON */

.toggle-button {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-base6-n;

    -fx-padding: 2 15 2 15;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-cursor: hand;

    -fx-border-width: 2;
    -fx-border-color: -fx-base8;

    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-color: white;
    -fx-background-radius: 0px;
}

.toggle-button:hover {
    -fx-text-fill: black;
    -fx-border-color: -fx-base9;
    -fx-background-color: -fx-base6;
}

.toggle-button:selected {
    -fx-background-color: -fx-base1;
    -fx-text-fill: white;
}

.toggle-button:selected:hover {
    -fx-text-fill: white;
    -fx-border-color: -fx-base9;
    -fx-background-color: -fx-base2;
}

/* }}} */

/* {{{ SCROLLBAR */

.scroll-bar:vertical {
    -fx-background-color: white;
    -fx-padding: 0px 0px 0px 2px;
}

.scroll-bar:horizontal{
    -fx-background-color: white;
    -fx-padding: 2px 0px 0px 0px;
}

.scroll-bar .thumb{
    -fx-background-color: -fx-base1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-color: #dadada;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: -fx-base1;
}

.scroll-bar .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar .track-background {
     -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: -fx-base2;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.25em;
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
    -fx-background-color: -fx-base1;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/* }}} */

/* {{{ SCROLLPANE  */

.scroll-pane {
    -fx-background-color: transparent,-fx-background;
}

.scroll-pane .corner {
    -fx-background-color: white, #f0f0f0;
}

/* }}} */

/* {{{ COMBOBOX */

.combo-box {
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-font-size: 14px;
}

.combo-box-base  {
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
}

.combo-box-base:hover {
    -fx-background-color: transparent, #909090, transparent, white;
}

.combo-box-base:focused {
  -fx-background-insets: -1.4, 0, 1, 2;
  -fx-border-color: -fx-base9;
  -fx-border-width: 0;
  -fx-cursor: hand;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box-popup .list-view {
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-background-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: -fx-base2;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: -fx-base1;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: -fx-base1;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}

/* }}} */

/* {{{ SPLITPANE */

.split-pane *.split-pane-divider {
  -fx-padding: 0 0 0 0;
  -fx-border-color: white;
  -fx-background-color: white;
}

.selectDatabase .split-pane *.split-pane-divider,
.editDatabase .split-pane *.split-pane-divider,
.addDatabase .split-pane *.split-pane-divider,
.searchDialog .split-pane *.split-pane-divider,
.settingsManager .split-pane *.split-pane-divider,
.messageDialog .split-pane *.split-pane-divider,
.loadingScreen .split-pane *.split-pane-divider
{
  /* aa */
  -fx-padding: 0 0 0 0;
  -fx-background-color: white;
  -fx-border-width: 1px 1px 0px 0px;
  -fx-border-color: #BABABA;
  /* -fx-border-style: segments(5, 10); */
  /* -fx-translate-y:1px; */
}

/* }}} */

/* {{{ LIST */

.list-view {
  -fx-font-size:14px;
  -fx-focus-color: transparent;
  -fx-accent: transparent;
  -fx-background-insets: 0 ;
}

.selectDBList {
  -fx-font-size:14px;
}

.selectDBList .list-cell {
    -fx-cell-size:30px;
    -fx-text-fill: black;
}

.selectDBList .list-cell:filled:selected:focused, #list .list-cell:filled:selected {
    -fx-background-color: -fx-base1;
    -fx-text-fill: white;
    -fx-cell-size:35px;
}

.selectDBList .list-cell:even {
    -fx-background-color: white;
}

.selectDBList .list-cell:filled:hover {
    -fx-background-color: -fx-base2;
    -fx-text-fill: black;
}

/* }}} */

/* {{{ FIELDS */

.text-field {
  -fx-background-color: #bababa, #bababa, transparent, white;
  -fx-background-radius: 0, 0, 0, 0;
  -fx-border-color: #bababa;
  -fx-border-width: 2;
  -fx-padding: 0 0 0 5;
  -fx-min-height: 30;
  -fx-max-height: 30;
}

.text-field:focused {
  -fx-background-color: -fx-base1, white, transparent, white;
  -fx-border-color: -fx-base1;
  -fx-border-width: 2;
}

.text-field:hover {
    -fx-background-color: -fx-base1, white, transparent, white;
}

/* inner glow */
.text-area {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb {
  -fx-background-color:derive(gray,90%);
}

/* }}} */

/* {{{ SEARCH DIALOG */

.searchDialogLabel {
  -fx-font-size:12px;
  -fx-text-fill:-fx-base1;
  -fx-font-weight:bold;
}

#searchField {
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
  -fx-font-size:18px;
}

.metadataKey, .metadataKey:focused {
  -fx-text-fill: -fx-base5;
  -fx-border-color: #bababa;
  -fx-border-width: 0;
}

.metadataValue, .metadataValue:focused {
  -fx-text-fill: black;
  -fx-border-color: #bababa;
  -fx-border-width: 0;
}

/* }}} */

/* {{{ EDIT DATABASE */

.editDBButtonsHbox {
  -fx-border-width: 0px 0px 1px 0px;
  -fx-border-color: #BABABA;
  -fx-translate-y:-2px;
}

.removeDirectoryButton {
    -fx-background-color: -fx-base5;
}

.removeDirectoryButton:hover {
    -fx-background-color: darkred;
}

/* }}} */

/* {{{ LOADING SCREEN */

#progressText {
  -fx-font-size:14px;
  -fx-font-weight:bold;
}

#percentageLabel, #timeLabel, #cpu {
  -fx-text-fill: black;
  -fx-stroke: transparent;
  /* -fx-effect: dropshadow(one-pass-box , rgb(255, 255, 255, 0.5), 5.0, 1.0, 0.0, 0.0); */
}

#progressBar {
  /* -fx-text-box-border: grey; */
  -fx-accent: -fx-base1;
  -fx-border-width: 0;
  -fx-box-border: white;
  -fx-control-inner-background: white;
  -fx-text-box-border: none;
  -fx-text-border-width: 0;
}

#progressIndicator {
  /* -fx-accent: green; */
}

#folderProgressBar {
  -fx-accent: darkred;
  -fx-control-inner-background: white;
  -fx-text-box-border: none;
  -fx-text-border-width: 0;
}

.cpuListText {
  -fx-font-size:12px;
  -fx-font-weight:bold;
  -fx-font-family: monospace;
}

.cpuListChanging {
  -fx-fill: -fx-base5;
}

/* ------------------------------------- */
/* processed file: */
/* ------------------------------------- */

/* greyed out text flow */
.oldMessage {
  -fx-fill:#565656 !important;
}

.processedFilePathLabel,
.lookingAtFolderLabel,
.startingFolderLabel,
.processedFileLabel {
  -fx-fill:black;
}

.processedFilePathText,
.lookingAtFolderText,
.filteringByFiletype,
.startMessageText,
.startingFolderText,
.removedFilesText,
.processedFileText {
  -fx-fill: -fx-base5;
  -fx-font-size:12px;
  -fx-font-weight:bold;
  -fx-font-family: monospace;
}

.pausingText {
  -fx-fill: darkgreen;
}

.classifiedLabel {
  -fx-fill: black;
}

.classifiedText {
  -fx-font-size:12px;
  -fx-font-weight:bold;
  -fx-font-family:monospace
}

.classifiedAsNew {
  -fx-fill: -fx-base5;
}

.classifiedAsUpToDate {
  -fx-fill: darkcyan;
}

.classifiedAsModified {
  -fx-fill: darkcyan;
}

.cancelingMessage {
  -fx-fill: red;
}

.missingFiles {
  -fx-fill: -fx-base5;
}

.countedFilesText {
  -fx-fill: -fx-base5;
}

.folderIndexedText {
  -fx-fill: black;
  -fx-font-size:16px;
  -fx-font-weight:bold;
}

.allJobsFinishedText {
  -fx-fill: -fx-base5;
  -fx-font-size:20px;
}

/* }}} */

/* {{{ SEARCH RESULT */

.snippetTitle {
  -fx-font-size:14px;
  -fx-font-weight:bold;
  -fx-fill: -fx-base5;
}

.snippetType {
  -fx-fill: darkslateblue;
}

.highlightedSnippet {
  -fx-font-weight:bold;
  -fx-fill: darkviolet;
}

/* }}} */

/* {{{ MAIN TEMPLATE */

.github {
  /* -fx-base: #D6E6FF; */
  -fx-cursor: hand;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

#title {
  -fx-text-fill: -fx-base1;
  -fx-font-size:17px;
}

#emptyMessage {
  -fx-cursor: hand;
  -fx-border-insets: 5;
  -fx-border-width:3;
  -fx-border-color:-fx-base1;
  -fx-text-fill:-fx-base1;
  -fx-border-style:dashed;
  -fx-border-radius:10px;
  -fx-font-size:18px;
}

/* }}} */

/* {{{ MISC */

#hboxContainer .text {
  -fx-font-size:14px;
}

/* }}} */
